<!doctype html>
<html lang="en">
  <head>

<link class="jsbin" href="{{ url_for('static', filename='styles/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
<script class="jsbin" src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
<link  href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

   <title>Image Detection!</title>
  </head>
  
  <body>
  <div style = "height:50px">
  </div>
    <div class="card" style="margin:0px auto; width: 18rem; " >
      <img src="../static/img/DL.gif" class="card-img-top" id = "blah">
      <div class="card-body">
        <h5 class="card-title">Try Uploading Any image </h5>
        <form action="/" method="post" enctype="multipart/form-data">
          <input onchange="readURL(this);" src="#" type="file" name="image" class="form-control-file" accept="image/*"></br>
          <input class="btn btn-primary" type="submit">
        </form>
        
      </div>
    </div>
    <div class = "container", style = "text-align:center; padding:50px">
    
    {% for i in pre %}
    
    <span class="btn btn-info">{{i}}</span>
    
    {% endfor %}
    </div>
<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>

















